.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
span {
  margin-right: 70%;
}
.backgoundColor {
  background-color: blanchedalmond;
}

.textWeight {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.marginDescription {
  margin-left: 60%;
}
.viewStyle {
  margin-left: 2%;
}
