<mat-toolbar color="primary">
  <span>Demo App</span>
  <!-- <button mat-raised-button color="accent" (click)="openDialog()">Quotes</button> -->

  <button *ngIf="loginLocal != null" class="viewStyle" mat-raised-button (click)="createNavigate()" title="Create">
    create
  </button>
  <button *ngIf="loginLocal != null" class="viewStyle" mat-raised-button (click)="viewNavigate()" title="View">
    View
  </button>
  <button *ngIf="loginLocal != null" class="viewStyle" mat-raised-button color="warn" (click)="logout()" title="logout">
    <mat-icon>logout</mat-icon>
  </button>
  <button *ngIf="loginLocal == null" class="viewStyle" mat-raised-button (click)="loginNavigate()" title="Login">
    login
  </button>

</mat-toolbar>


<!-- [ngStyle]="{backgroundColor:r.postTitle == randomPost && quoteClicked == true ? 'blue' :'blanchedalmond' }" -->
<mat-accordion color="warn" *ngFor="let r of rows">
  <mat-expansion-panel class="mt-4 backgoundColor" (click)="expansionClick(r)"
    [ngStyle]="{backgroundColor: r.readBy != null ? 'lavenderblush':'blanchedalmond'}" color="warn" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="textWeight">
        {{r.postTitle|titlecase}}
      </mat-panel-title>
      <mat-panel-description class="textWeight marginDescription">
        Post Created By:- {{r.createdBy|titlecase}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{r.content|titlecase}}</p>

  </mat-expansion-panel>
</mat-accordion>
