button {
  margin-left: 20px;
  margin-top: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.materialCard {
  width: 40%;
  margin-left: 30%;
  padding: 5%;
  margin-top: 1%;
}
.buttonStyle {
  margin-left: -1%;
  margin-right: 12%;
}

.materialCard1 {
  width: 60%;
  margin-left: 20%;
  padding: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.spinnerMargin {
  margin-left: 40%;
}
