<mat-card class="materialCard">
  <mat-card-title>
    Login
  </mat-card-title>
  <form (ngSubmit)="userLogin()" class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput name="loginUsername" id="loginUsername" [(ngModel)]="loginObj.loginUsername"
        placeholder="Enter your username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="loginPassword" id="loginPassword"
        [(ngModel)]="loginObj.loginPassword" placeholder="Enter your password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-spinner class="spinnerMargin" *ngIf="showSpinner"></mat-spinner>
    <mat-progress-bar mode="determinate" color="primary" [value]="progressbarValue"></mat-progress-bar>
    <button type="submit" [disabled]="disableLogin" class="buttonStyle" mat-raised-button color="accent">
      {{curSec > 0 ? curSec : 'Sign In'}}</button>
    <button type="button" class="buttonStyle" mat-raised-button color="warn" data-toggle="modal"
      data-target="#registerModal">Register</button>
  </form>
</mat-card>

<div class="modal fade bd-example-modal-lg" id="registerModal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <mat-card class="materialCard1">
        <div class="modal-body">
          <form (ngSubmit)="userRegister()" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput name="addEmail" id="addEmail" [(ngModel)]="loginObj.addEmail"
                placeholder="Enter your Email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput name="addUsername" id="addUsername" [(ngModel)]="loginObj.addUsername"
                placeholder="Enter your username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="addPassword" id="addPassword"
                [(ngModel)]="loginObj.addPassword" placeholder="Enter your password">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <div class="modal-footer">

              <button mat-raised-button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
