<router-outlet></router-outlet>
<!--
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<button mat-raised-button>Hello World</button>
<button mat-stroked-button color='primary'>Hello World</button>

<div class="example-button-container">
  <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon>plus_one</mat-icon>
  </button>
</div> -->

<!-- <div>
  <button mat-mini-fab>+1</button>
  <button mat-fab>HI</button>
</div>
use disableRipple to disable the ripple effect on buttons
<div>
  <button mat-raised-button disableRipple color="warn">Accent</button>
</div> -->

<!-- ================ BUTTON TOGGLE============================ -->

<!-- <div>
 <mat-button-toggle-group #toggleGroup="mat-button-toggle-group" multiple>
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italiuc">italiuc</mat-button-toggle>
  <mat-button-toggle value="Bold">Bold</mat-button-toggle>
 </mat-button-toggle-group>
 {{toggleGroup.value}}
</div> -->
<!-- <div>
<mat-button-toggle-group  #toggleGroup="matButtonToggleGroup"aria-label="Font Style" multiple>
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
{{toggleGroup.value}}
</div> -->




<!-- <textarea cols="30" rows="10" [value]="newPost"></textarea> -->
<!-- <mat-toolbar color="primary">

    <span>Demo App</span>

    <a mat-raised-button href="./login" target="_blank">Login</a>




</mat-toolbar> -->
