<mat-toolbar color="primary">
  <span class="spanStytle" (click)="navigateSpan()">Demo App</span>
  <button mat-raised-button (click)="navigatePost()">View Post</button>
  <button class="ml-3" mat-raised-button color="warn" title="Logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <mat-card class="materialCard">
    <mat-card-title>
      Create New Post
    </mat-card-title>
    <form (ngSubmit)="addPost()" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Enter post Title</mat-label>
        <input matInput name="enteredText" id="enteredText" [(ngModel)]="postObj.enteredText" placeholder="Post Title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Content</mat-label>
        <textarea matInput name="postContent" id="postContent" [(ngModel)]="postObj.postContent"></textarea>

      </mat-form-field>
      <mat-form-field class="example-chip-list">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add Tags..." [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" name="addtags" id="addtags" [(ngModel)]="postObj.addtags">
        </mat-chip-list>
      </mat-form-field>
      <button type="submit" class="buttonStyle" mat-raised-button color="accent">Create</button>
    </form>
  </mat-card>
</div>
