span {
  margin-right: 70%;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-form {
  /* min-width: 250px;
    max-width: 500px; */
  width: 100%;
}

.example-full-width {
  width: 100%;
}
/* button {
  margin-left: 20px;
  margin-top: 30px;
} */
.buttonMargin {
  margin-right: 20%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.materialCard {
  width: 60%;
  margin-left: 25%;
  padding: 5%;
  margin-top: 1%;
}
.buttonStyle {
  margin-left: -1%;
  margin-right: 12%;
}

.materialCard1 {
  width: 60%;
  margin-left: 20%;
  padding: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.example-chip-list {
  width: 100%;
}
