<h2 mat-dialog-title>Quotes</h2>

<!-- <div mat-dialog-title class="crossButton">
  <button mat-dialog-close mat-mini-fab color="white">
    X
  </button>
</div> -->


<mat-dialog-content class="fontText">{{data.name.text}}</mat-dialog-content>
<h6 class="marginContent mt-2">— {{data.name.author}}</h6>
