.marginContent {
  margin-left: 70%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fontText {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.crossButton {
  margin-left: 93%;
}

:host .mat-mini-fab {
  border-radius: none;
}
